<?xml version="1.0"?>
<beans xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://jboss.org/schema/cdi/beans_1_0.xsd">
	<interceptors>
		<class>br.gov.caixa.arqrefcore.cobol.conversor.grafo.GraphInterceptor</class>
		<class>br.gov.caixa.arqrefcore.validacao.ValidationInterceptor</class>
		<class>br.gov.caixa.arqrefcore.log.LoggerIntercepter</class>
	</interceptors>
</beans>
