<div id="divListaTaxaSeguro" tabindex="-1" style="margin-bottom: 60px">
	<table class="table table-striped table-bordered" id="gridListaTaxaSeguro">
		<thead>
			<tr>
				<th>In&iacute;cio Vig&ecirc;ncia</th>
				<th>Fim Vig&ecirc;ncia</th>
				<th>Prazo</th>
				<th>Idade</th>
				<th>Taxa</th>
				<th>Usu&aacute;rio</th>
<!-- 				<th>Data Inc.</th> -->
<!-- 				<th>Usu&aacute;rio Fin.</th> -->
				<th>Data</th>
				<th>A&ccedil;&atilde;o</th>
			</tr>
		</thead>
		
 
		<tbody>
			<% $.each(TaxaSeguro, function () { %>
			<tr>
				<td><span class="hidden"><%=this.dtInicioVigencia%></span><%= formatadores.formatarData(this.inicioVigencia) %></td>
				<td><span class="hidden"><%=this.dtFimVigencia%></span><%= this.fimVigencia == null || this.fimVigencia == '' ? ' - ' : formatadores.formatarData(this.fimVigencia) %></td>
				<td><%= this.prazoMin == this.prazoMax ? this.prazoMax : this.prazoMin + " &agrave; " + this.prazoMax %></td>
				<td><%= this.idadeMin == this.idadeMax ? this.idadeMax : this.idadeMin + " &agrave; " + this.idadeMax %></td>
				<td><%= formatadores.formatarTaxa(this.taxa, 5) %> %</td>
				<td><%= this.usuarioInclusao %></td>
 				<td><%= this.dataInclusaoTaxa %></td>
<!-- 				<td><%= this.usuarioFinalizacao == null || this.usuarioFinalizacao == '' ? ' - ' : this.usuarioFinalizacao %></td> -->
<!-- 				<td><%= this.dataInclusaoFimVigencia == null || this.dataInclusaoFimVigencia == '' ? ' - ' : this.dataInclusaoFimVigencia %></td> -->
				<td>
					<div class="btn-group">
						<a class="btn btn-mini <%= (!this.updatable ? 'disabled' : '') %>" data-toggle="tooltip" data-placement="top" id="btnAlterarTaxa"
						   data-idtaxa="<%= this.id %>" data-original-title="Alterar" title="Alterar"><i class="icon-pencil"></i>
						</a>
					</div>
					<div class="btn-group">
						<a class="btn btn-mini <%= (!this.excludable ? 'disabled' : '') %>" data-toggle="tooltip" data-placement="top" id="btnRemoverTaxa"
						   data-idtaxa="<%= this.id %>" data-original-title="Excluir" title="Excluir"><i class="icon-trash"></i>
						</a>
					</div>
				</td>
			</tr>
			<% }); %>
		</tbody>
	</table>
<!--</fieldset>-->
</div>